<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dain_review.be.mapper.CommunityMapper">
    <insert id="insertAdmin">
        INSERT INTO posts (category_seq, type_seq, title, contents)
        VALUES (#{categorySeq}, #{typeSeq}, #{title}, #{contents});
    </insert>

    <insert id="insert">
        INSERT INTO posts (user_seq, category_seq, type_seq, title, contents)
        VALUES (#{userSeq}, #{categorySeq}, #{typeSeq}, #{title}, #{contents});
    </insert>
    <insert id="insertCommunityComments">
        INSERT INTO campaign_comments (user_seq, campaign_seq, comment_seq, comment)
        VALUES (#{userSeq}, #{campaignSeq}, #{commentSeq}, #{comment})
    </insert>

    <update id="updateAdmin">
        UPDATE posts
        <set>
            <if test="categorySeq!=null">category_seq = #{categorySeq}, </if>
            <if test="title!=null">title = #{title}, </if>
            <if test="contents!=null">contents = #{contents}, </if>
        </set>
        WHERE seq = #{seq}
    </update>

    <update id="update">
        UPDATE posts
            <set>
                <if test="categorySeq!=null">category_seq = #{categorySeq}, </if>
                <if test="title!=null">title = #{title}, </if>
                <if test="contents!=null">contents = #{contents}, </if>
            </set>
        WHERE seq = #{seq} AND user_seq = #{userSeq}
    </update>
    <update id="countVisitor">
        UPDATE posts SET view_count = view_count + 1 WHERE seq = #{seq}
    </update>
    <update id="updateCommunityComments">
        UPDATE campaign_comments SET comment = #{comment} WHERE seq = #{seq} AND user_seq = #{userSeq}
    </update>

    <delete id="delete">
        DELETE FROM posts WHERE seq = #{seq} AND user_seq = #{userSeq}
    </delete>

    <delete id="deleteAdmin">
        DELETE FROM posts WHERE seq = #{seq}
    </delete>
    <delete id="deleteCommunityComments">
        DELETE FROM campaign_comments WHERE seq = #{seq} AND user_seq = #{userSeq}
    </delete>

    <select id="select" resultType="kr.co.dain_review.be.model.post.Post">
        SELECT
               p.seq,
               p.title,
               p.contents,
               p.create_date as createDate,
               p.view_count as viewCount
        FROM posts p
        <where>
            AND p.title LIKE #{searchWord}
        </where>
        LIMIT #{page}, 10
    </select>


    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(p.seq)
        FROM posts p
        LEFT JOIN post_comments comment on p.seq = comment.post_seq
        <where>
            AND p.type_seq = #{type} /* {typeSeq 를 type}  */
            AND p.title LIKE #{searchWord}
            <choose>
                <when test="searchType!=null and searchType.equals('myPost')"> AND p.user_seq = #{userSeq} </when>
                <when test="searchType!=null and searchType.equals('comments')"> AND `comment`.user_seq = #{userSeq} </when>
            </choose>
        </where>
        GROUP BY (p.seq)
    </select>

    <select id="selectDetail" resultType="kr.co.dain_review.be.model.post.Post">
        SELECT pc.category,
               p.title,
               p.contents,
               u_i.nickname,
               p.create_date as createDate,
               p.view_count as viewCount,
               CONCAT(u.id, '/', u.profile) as profile,
               p.type_seq as userType
        FROM posts p
        LEFT JOIN users u ON p.user_seq = u.seq
        LEFT JOIN user_influencer u_i ON u.seq = u_i.user_seq
        LEFT JOIN post_categories pc on p.category_seq = pc.seq
        WHERE p.seq = #{seq} AND p.category_seq = #{type}
    </select>

    <select id="list" resultType="kr.co.dain_review.be.model.community.Communities">
        SELECT c.seq,
               c.user_seq as userSeq,
               uc.name,
               co.category,
               c.title,
               c.create_date as createDate,
               c.view_count as viewCount,
               uc.profile,
               uc.user_type as userType
        FROM communities c
        JOIN community_option co ON c.option_seq = co.seq AND co.type = #{type}
        JOIN user_community uc ON c.user_seq = uc.seq
        <where>
            <choose>
                <when test="searchType!=null and searchType.equals('title')">AND c.title LIKE #{searchWord} </when>
                <when test="searchType!=null and searchType.equals('name')">AND uc.name LIKE #{searchWord} </when>
                <when test="searchType!=null and searchType.equals('contents')">AND c.contents LIKE #{searchWord} </when>
                <otherwise>
                    AND (c.title LIKE #{searchWord} OR uc.name LIKE #{searchWord} OR c.contents LIKE #{searchWord})
                </otherwise>
            </choose>
        </where>
        LIMIT #{page}, 10
    </select>

    <select id="count" resultType="integer">
        SELECT COUNT(*)
        FROM communities c
        JOIN community_option co ON c.option_seq = co.seq AND co.type = #{type}
        JOIN user_community uc ON c.user_seq = uc.seq
        <where>
            <choose>
                <when test="searchType!=null and searchType.equals('title')">AND c.title LIKE #{searchWord} </when>
                <when test="searchType!=null and searchType.equals('nickname')">AND uc.name LIKE #{searchWord} </when>
                <when test="searchType!=null and searchType.equals('contents')">AND c.contents LIKE #{searchWord} </when>
                <otherwise>
                    AND (c.title LIKE #{searchWord} OR uc.name LIKE #{searchWord} OR c.contents LIKE #{searchWord})
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="detail" resultType="kr.co.dain_review.be.model.community.Communities">
        SELECT c.seq,
               c.user_seq as userSeq,
               uc.name,
               co.category,
               c.contents,
               c.title,
               c.create_date as createDate,
               c.view_count as viewCount,
               uc.profile,
               uc.user_type as userType
        FROM communities c
                 JOIN community_option co ON c.option_seq = co.seq AND co.type = #{type}
                 JOIN user_community uc ON c.user_seq = uc.seq
    </select>


</mapper>