<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dain_review.be.mapper.PointMapper">
    <insert id="insert">
        INSERT INTO points (id, user_seq, campaign_seq, point, type, description)
        VALUES (#{id}, #{userSeq}, #{campaignSeq}, #{point}, #{type}, #{description})
    </insert>

    <select id="selectList" resultType="kr.co.dain_review.be.model.point.Point">
        SELECT seq,
            id,
            user_seq as userSeq,
            type,
            point,
            description,
            create_date as createDate
        FROM points
        LIMIT #{page}, 10
    </select>

    <select id="selectListCount" resultType="java.lang.Integer">
        SELECT COUNT(seq) FROM points
    </select>

</mapper>